.input-bar {
  width: inherit!important;
  height: inherit!important;
  padding-inline: 14px!important;
  border-radius: 8px!important;
  background-color: rgba(255, 255, 255, 0.16)!important;
  color: rgba(255, 255, 255, 0.5)!important;
  border: none!important;
}

.input-bar:focus {
  outline: 2px solid rgba(255, 255, 255, 0.5)!important;
}

.input-bar::placeholder {
  color: rgba(255, 255, 255, 0.5)!important;
}

.input-content:hover .input-bar {
  background-color: rgba(255, 255, 255, 0.24)!important;
}
